@model MovieStoreMvc.Models.DTO.SectionsListVm
@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="term" placeholder="search here">
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</section>
<section class="movies list-group">
    @foreach (var movie in Model.Sections)
    {
        <li class="list-group-item" onclick="window.location.href='/Home/MovieDetail?movieId=@movie.ID'">
            <div class="movie-info">
                <h4>@movie.Title</h4>
                <p>Chương mục: @movie.Articles?.Title</p>
                <p>Tiền phạt tối thiểu: @movie.Min</p>
                <p>Tiền phạt tối đa: @movie.Max</p>
                <p>Tiền phạt trung bình: @movie.Avg</p>
                <p>Nội dung: @movie.Content</p>
            </div>
        </li>
    }
</section>

<div class="pagination">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
        }
        else
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
        }
    }

</div>