@model MovieStoreMvc.Models.DTO.DieuLuatListVm
@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="term" placeholder="search here">
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</section>
<section class="movies list-group">
    @foreach (var movie in Model.MovieList)
    {
        <li class="list-group-item" onclick="window.location.href='/Home/MovieDetail?movieId=@movie.Id'">
            <div class="movie-info">
                <h4>@movie.Name</h4>
                <p>Chương mục: @movie.ChuongMucNames</p>
                <p>Ban hành năm: @movie.ReleaseYear</p>
            </div>
         
        </li>
    }
</section>

<div class="pagination">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
        }
        else
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
        }
    }

</div>